@import "_colors";
@import "_variables";
@import "_mixins";

/*-----------------------
# Footer
-------------------------*/
.endPage {
    @include flexbox (column, center, center);
    background-color: $gray;
    
    &__socialLinks {
        list-style-type: none;
        @include flexbox (row, center, null);
        padding-left: 0;
    
        .socialLinks__item {
            color: #364E68;

            .fa-instagram:hover {
                color: #FF0080;
            }
    
            .fa-facebook-f:hover {
                color: #3B5998;
            }
    
            .fa-twitter:hover {
                color: #00ACEE;
            }
    
            .fa-youtube:hover {
                color: #C4302B;
            }
        }
    }

    &__copyRight {
        font-size: 1.1rem;
        margin-top: 2vh;
    }
}


/*-----------------------
# Media Queries   
-------------------------*/
@media only screen and (max-width:768px) {

    .endPage {
        height: 40vh;
    
        &__socialLinks {
            .socialLinks__item {
                margin: 0 1vw 0 1vw;
            }
        }
    }
}

@media only screen and (min-width:768px) {

    .endPage {
        height: 45vh;
    
        &__socialLinks {
            .socialLinks__item {
                margin: 0 0.6vw 0 0.6vw;
            }
        }
    }
}