$borderRadius: 16px;
$parFontType: 'Montserrat';
$parFontStyle: sans-serif;
$marginBottomCards: 30px;
$whiteShadowText: 1px 1px white;
$subtitleSize: 1.25rem;
$bannerParSize: 3.125rem;
$endMessageSize: 2.5rem;
$gridTwoCol: 50% 50%;
$gridThreeCol: 30% 30% 30%;
$templateTwoCol: "img1 img2"
                 "img3 img4"
                 "img5 img6";
$templateThreeCol: "img1 img2 img3"
                   "img4 img5 img6";